<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layout" >
<head>
<meta charset="utf-8"/>
<title>CSTWEB - Exception</title>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="red" th:text="#{common.global.exception}"></h3>
			</div>
			<div class="panel-body">
				<h5 th:text="${exception}"></h5>				
			</div>	
	    </div>
	</div>
</body>
</html>